body {
    width: 500px;
    margin: 0 auto;
    background-color: pink;
    border: 2px;
    
}

.mediaplayer-container {
    display: flex;
    flex-direction: column;
}

/* TOP */
.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.top-text {
    font-size: 20px;
}

/* IMAGE */
.image-container {
    display: flex;
    justify-content: center;
}

/* SONG INFORMATION */
.song-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.song-text-container {
    flex-direction: column;
}
.song-text {
    font-size: 20px;
}

/* PROGRESSBAR */
.progress-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#myProgress {
    width: 100%;
    background-color: grey;
    height: 10px;
}

#myBar {
    width: 1%;
    height: 10px;
    background-color: rgb(151, 95, 243);
}

/* PLAYER */
.player-container {
    display: flex;
        flex-direction: row;
}