body {
    width: 800px;
    margin: 0 auto;
   border: solid;
   background-color: pink;
}

.playlist-and-player {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* PLAYLIST */
.playlist-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 248, 248);
   
}

.song-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid;
    

}
.list-image {
 width: 25%;

}
.list-text-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.list-text {
    font-size: 20px;
}


/* MEDIAPLAYER */
.mediaplayer-container {
    display: flex;
    flex-direction: column;
}

/* PLAYER - TOP */
.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.top-text {
    font-size: 20px;
}

/* IMAGE */
.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    border: solid;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
    
}

/* SONG INFORMATION */
.song-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.song-text-container {
    flex-direction: column;
}
.song-text {
    font-size: 20px;
}

#song {
    font-size: 0.9em;
    font-style: italic;
}

/* PROGRESSBAR */
.progress-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
   
}

#myProgress {
    width: 60%;
    background-color: grey;
    height: 10px;
    
}

#myBar {
    width: 1%;
    height: 10px;
    background-color: rgb(151, 95, 243);
    
}

.progress-text {
    margin-left: 10px;
    margin-right: 10px;
}

/* PLAYER */
.player-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}